<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById('bodyContainer').style.visibility = 'visible';
        }
    </script>
    <link rel="stylesheet" href="../../Content/jqx.base.css" type="text/css" />
    <script type="text/javascript" src="../../Scripts/jqxcore.js"></script>
    <script type="text/javascript" src="../../Scripts/jqxmenu.js"></script>
    @RenderSection("styles", false)
    @RenderSection("Head", false)
</head>
<body>
    <script type="text/javascript">
    $(document).ready(function () {
        // Create a jqxMenu
        $("#Menu").jqxMenu({ width: $(window).width, height: 30 });
    });
    </script>
    <div id="Menu">
        <ul>
            @{
                string userId = (string)Session["UserID"];
                if (userId == null)
                {
                   <li><a> @Html.ActionLink("Log In", "Login", "Login")</a></li>
                }
                else
                {
                   <li><a> @Html.ActionLink("Log In", "Login", "Login")</a></li>
                }
            }
        </ul>
    </div>
    <div id='bodyContainer' style='visibility: hidden;' class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqwidgets")
    @RenderSection("scripts", required: false)
    
</body>
</html>